*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-top: 30px;
}
.input{
    border-radius: 8px;
    padding-left: 10px;
    outline: none;
    border: none;
}
.searchbtn{
    border: 0;
    background-color:whitesmoke;
    padding: 4px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.searchbtn:active{
    background-color: gray;
    transition: background-color 0.2s ease-in-out;

    /* here active has a important role when you click the search btn it show the background img i.e gray 
    when you click you well render to active state */

}
.search button img{
    width: 16px;

}
.weathericon{
    width: 170px;
    margin-top: 30px;
}
.weaather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 30px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
    margin-top: 20px;
    display: none;
    font-weight: 600;
    opacity: 0.5;
    
}